EMAIL_RECIPIENT: 'hoangkimduclqd@gmail.com hoangnguyen1999ht@gmail.com truclyy38@gmail.com tuananhh2011@gmail.com vnsking7899@gmail.com'
development:
  MAIL_USERNAME:
  MAIL_PASSWORD:
  MAIL_ADDRESS:
  MAIL_PORT:
  MAIL_AUTH:
  HOST:
  ROOT_PATH:
staging:
  MAIL_USERNAME:
  MAIL_PASSWORD:
  MAIL_ADDRESS:
  MAIL_DOMAIN:
  MAIL_PORT:
  MAIL_AUTH:
  HOST:
  FE_HOST:
  ROOT_PATH:
production:
  MAIL_USERNAME:
  MAIL_PASSWORD:
  MAIL_ADDRESS:
  MAIL_PORT:
  MAIL_AUTH:
  HOST:
  FE_HOST:
  ROOT_PATH:
